._19ea{
    margin:7px 0;
    margin-left:-2px;
    margin-right:5px
}
._2t-a{
    height:42px;
    position:relative;
    width:100%
}
._2t-d{
    margin:auto;
    padding:0 8px
}
._2t-d{
    padding:0;
    width:960px
}
._2t-a{
    display:flex;
    justify-content:space-between
}
._1uh-{
    display:inline-block;
    padding:0 9px;
    vertical-align:top
}
._4q39{
    margin:7px 0 8px 0
}

.NavBarEnlace{
    background-color:transparent;
    color:#fff;
    display:inline-block;
    font-size:12px;
    -webkit-font-smoothing:antialiased;
    font-weight:bold;
    height:27px;
    line-height:28px;
    padding:0 10px 1px;
    position:relative;
    text-decoration:none;
    vertical-align:top;
    white-space:nowrap
}
._2s1x ._2s1y{
    background-color:#4267b2;
    border-bottom:1px solid #29487d;
    color:#fff
}
._3u6q ._2s1y{
    background-color:#3b5998
}
._2s1x .NavBarEnlace:hover,._2s1x .NavBarEnlace:focus,._2s1x .NavBarEnlace:active{
    background:rgba(0, 0, 0, .1);
    color:inherit
}



