<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>boletaServlet</servlet-name>
        <servlet-class>SessionBean.boletaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calcularServlet</servlet-name>
        <servlet-class>SessionBean.calcularServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>horaServer</servlet-name>
        <servlet-class>SessionBean.horaServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresaVehiculo</servlet-name>
        <servlet-class>controlVehiculos.ingresaVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salidaVehiculo</servlet-name>
        <servlet-class>controlVehiculos.salidaVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoVehiculos</servlet-name>
        <servlet-class>controlVehiculos.listadoVehiculos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boletaServlet</servlet-name>
        <url-pattern>/boletaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calcularServlet</servlet-name>
        <url-pattern>/calcularServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>horaServer</servlet-name>
        <url-pattern>/horaServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresaVehiculo</servlet-name>
        <url-pattern>/ingresaVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salidaVehiculo</servlet-name>
        <url-pattern>/salidaVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoVehiculos</servlet-name>
        <url-pattern>/listadoVehiculos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
